/* Mobile First Version*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {}

#firstSection,
#secondSection,
#thirdSection {
    width: 360px;
    height: 250px;
    padding-bottom: 6px;
}

#firstSection {
    background-color: white;
}

h1 {
    color: hsl(179, 62%, 43%);
    margin: 15px;
    padding: 5px;
    font-weight: 700;

}

#p1 {
    color: hsl(71, 73%, 54%);
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
}

#p2 {
    color: hsl(218, 22%, 67%);
    margin: 15px;
    padding: 5px;
    line-height: 25px;
    font-size: 16px;
}


#secondSection {
    background-color: hsl(179, 62%, 43%);
}

h2 {
    color: white;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

#p3 {
    color: rgba(255, 255, 255, 0.568);
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 5px;
}

span {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-right: 8px;
}

#p4 {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    padding: 5px;
}


button {
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    height: 50px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 2px 2px 2px 0px hsl(71, 73%, 54%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(71, 78%, 56%);
}

#thirdSection {
    background-color: hsl(179, 61%, 48%);
}